<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		<meta name="keywords" content="branca, rally">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		        
		<meta property="og:title" content="{% block og_title %}Branca Rally 2015{% endblock %}" />
    	<meta property="og:description" content="{% block og_description %}Fernet Branca te invita a vivir la pasión del World Rally Championship{% endblock %}" />
    	<meta property="og:image" content="{% block og_image %}{{ asset('bundles/odiseobrancarally/img/facebookIcon1024.png', absolute=true) }}{% endblock %}" />
    	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="Shortcut Icon" type="image/x-icon" href="http://www.branca.com.ar/wp-content/themes/branca/favicon.ico">

        <title>{% block title %}Branca Rally 2015{% endblock %}</title>
        
	    <!-- stylesheets -->
		{# stylesheets... #}
		{% block stylesheets %}
		{% stylesheets output='css/frontend.min.css' filter='cssrewrite'
			'//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
			'bundles/odiseobrancarally/css/audio2_html5.css'
            'bundles/odiseobrancarally/css/carrera.css'
			'bundles/odiseobrancarally/css/brancaRally2015.css'
			'bundles/odiseobrancarally/css/main.css'

		%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		{% endblock %}
    </head>
    <body>
    	{% block header %}
    	{% endblock %}

		{% block content %}
		{% endblock %}
		<footer>
		    <div class="footer">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		                    <ul class="footer-text">
		                        <li><p>Fratelli Branca es marca registrada. Todos los derechos reservados </p></li>
		                        <li><p><a href="{{ path('odiseo_branca_rally_frontend_terms') }}" target="_blank">Bases y Condiciones</a></p></li>
		                        <li><p><a href="http://www.branca.com.ar" target="_blank">www.branca.com.ar</a></p></li>
		                    </ul>
		                </div>
		                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		                    <img src="{{ asset('bundles/odiseobrancarally/img/marcas.png') }}" class="img-responsive pull-right" alt=""/>
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
		
		<!-- javascript -->
		{# javascripts... #}
		{% block javascripts %}
		{% javascripts output='js/frontend.min.js'
           'bundles/odiseobrancarally/js/vendor/jquery.1.11.2.min.js'
           'http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js'
           'bundles/odiseobrancarally/js/vendor/jquery.mousewheel.min.js'
           'bundles/odiseobrancarally/js/vendor/bowser.js'
           'bundles/odiseobrancarally/js/vendor/jquery.touchSwipe.min.js'
           'bundles/odiseobrancarally/js/vendor/audio2_html5.js'
           'bundles/odiseobrancarally/js/facebookUtil.js'
		   'bundles/odiseobrancarally/js/main.js'	
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% endblock %}

        <script type="text/javascript" src="{{asset('bundles/odiseobrancarally/js/vendor/modernizr.all.min.js') }}"></script>
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-1032323-14', 'auto');
		  ga('send', 'pageview');
		</script>
    </body>
</html>
