{% extends 'OdiseoBrancaRallyBundle:Frontend:layout.html.twig' %}

{% block content %}
    <header>
        <div class="menu-mobile visible-xs visible-sm">
            <div class="col-xs-8 col-sm-8">
                <a class="logo mobile" href="{{ path('odiseo_branca_rally_frontend_home') }}"><span class="sr-only">Branca Rally 2015</span></a>
            </div>
            <div class="col-xs-4 col-sm-4">
                <a class="btn-menu-mobile pull-right" id="mobileMenuDrop" href="#"><i class="fa fa-bars"><span class="sr-only">Menu</span></i></a>
            </div>
        </div>
        <ul class="menu-list-mobile visible-xs visible-sm">
            <li><a class="btn-menu-responsive" href="{{ path('odiseo_branca_rally_frontend_home') }}">Cómo participar</a></li>
            <li><a class="btn-menu-responsive" href="{{ path('odiseo_branca_rally_frontend_home_races_winners') }}">Carreras y ganadores</a></li>
            <li><a class="btn-menu-responsive" href="{{ path('odiseo_branca_rally_frontend_terms') }}">Bases y condiciones</a></li>
        </ul>
        <div class="bg-home">
            <div class="container">
                <div class="row menu hidden-xs hidden-sm">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a class="logo" href="{{ path('odiseo_branca_rally_frontend_home') }}"><span class="sr-only">Branca Rally 2015</span></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <nav>
                            <ul class="menu-list pull-right">
                                <li><a class="btn-menu" href="{{ path('odiseo_branca_rally_frontend_home') }}">Cómo participar</a></li>
                                <li><a class="btn-menu" href="{{ path('odiseo_branca_rally_frontend_home_races_winners') }}">Carreras y ganadores</a></li>
                                <li><a class="btn-menu last" href="{{ path('odiseo_branca_rally_frontend_terms') }}">Bases y condiciones</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="text-center text-uppercase"Bases y condiciones de la promoción “Pasión Rally de Fernet Branca”</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="bases-y-condiciones text-strong" style="color:#333; padding: 50px 0;  font-family:Arial, Helvetica, sans-serif; font-size:12px;">

                        <p dir="ltr"> </p>
                        <p dir="ltr">1) Del Organizador: Podrán participar de la presente promoción de alcance nacional, denominada &ldquo;Pasión Rally de Fernet Branca (en adelante la &quot;Promoción&rdquo;), organizada por Fratelli Branca Destilerías S.A. (en adelante el &quot;Organizador&rdquo;), todas aquellas personas, mayores de 18 años que sigan el procedimiento de participación aquí descripto (en adelante los &ldquo;Participantes&rdquo;).</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">2) Plazo de Vigencia: La Promoción se regirá por estas bases y condiciones (en adelante las &ldquo;Bases&rdquo;) y tendrá vigencia en la República Argentina desde las 17:00 horas del día 9 de Abril de 2015 y hasta las 21:00 horas del día 22 de Abril de 2015 (en adelante el &ldquo;Plazo&rdquo;).</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">3) Participantes: No podrán participar en la Promoción i) menores de 18 años, ni ii) empleados del Organizador, el personal de sus agencias de publicidad y/o de promoción, ni los parientes por consanguinidad o afinidad hasta el segundo grado inclusive de cualquiera de éstos, ya sea que lo hagan a nombre propio o de terceros.</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">4) Mecánica de Participación: La Promoción se desarrollará mediante la aplicación WhatsApp de envío de mensajes instantáneos para dispositivos móviles (en adelante la &ldquo;aplicación&rdquo;), que luego les permitirá acceder a un sitio web (<a href="http://www.brancarally.com/">www.brancarally.com</a>) por medio de un mensaje, (en adelante el &ldquo;Sitio&rdquo;) en los cuales, durante el Plazo, los usuarios podrán: a)ingresar sus datos personales; b)aceptar las bases y condiciones; c)participar por el Premio. </p>
                        <br />
                        <p dir="ltr">El concurso consta de distintas etapas que se enumeraran a continuación.</p>
                        <p dir="ltr">i) Los usuarios deberán enviar por medio de la aplicación un audio a alguno de los dos números de teléfono (en adelante &ldquo;Equipos&rdquo;), que hacen referencia a dos equipos; i.a) Equipo Branca el cual será representado con el número de teléfono: +54 9 11 2321 7974; i.b) Equipo Único el cual será representado con el número de teléfono: +54 9 11 2321 8162; ii) Junto con sus audios los usuarios deberán enviar por medio de la aplicación, Nombre y Apellido, DNI y Email; iii) Con el envío de estos mensajes por medio de la aplicación, se considera que los usuarios aceptan los términos y condiciones del concurso; iv) El Equipo que más audios reciba será el ganador de la carrera; v) Los usuarios que hayan enviado su audio al equipo ganador, accederán a un sorteo por el Premio; vi) El primer sorteo se realizará el día 16 de Abril entre las 15:00 hs y las 17:00hs del mismo día; vii) Los usuarios que no accedan al sorteo deberán volver a participar, iniciando desde el punto: &rdquo;i&ldquo; de la mecánica descrita en las bases y condiciones; vii) El audio (en adelante &ldquo;audio&rdquo;), deberá imitar el ruido de un automóvil en competencia, aceleración y desaceleración, cualquier audio que contenga palabras y que por cuestiones lógicas quede demostrado que no intenta imitar un automóvil quedarán descalificados automáticamente; ix)La aplicación solo se utilizará para la recepción de las participaciones, no se contestaran preguntas, ni dudas por ese medio, cualquier consulta realizarla a &ldquo;<a href="mailto:info@brancarally.com">info@brancarally.com</a>&rdquo;; x)El segundo sorteo se realizará el día 22 de Abril de 2015, entre las 20:30hs y las 21:00hs del mismo día; xi)Los usuarios que compartan su participación por medio de la red social Facebook, duplicarán sus chances en el sorteo en caso de haber participado en el equipo ganador.</p>
                        <br />
                        <p dir="ltr"> </p>
                        <p dir="ltr">5) Sin Obligación de Compra: La presente Promoción es sin obligación de compra ya que se puede participar libremente y gratuitamente sin implicar obligación directa ni indirecta de compra ni/o contratación de producto o servicio alguno al Organizador.</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">6) Los Datos que puedan obtenerse de los Participantes serán almacenados en las bases de datos del Organizador para poder administrar y organizar la Promoción. El Organizador se encontrará facultado a utilizar los Datos exclusivamente con fines publicitarios. El Organizador garantiza la confidencialidad, uso y acceso exclusivo a los Datos. Por el solo hecho de participar de la presente Promoción, los Participantes autorizan al Organizador a utilizar sus Datos obtenidos de acuerdo a las finalidades y de la manera expresada en las presentes Bases.</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">Los Datos personales brindados por los Participantes para la participación en la presente Promoción, serán objeto de tratamiento automatizado e incorporados a la base de datos de titularidad de Fratelli Branca Destilerías S.A., con domicilio en la calle Costa Rica 4451 - Tortuguitas, Buenos Aires. La provisión de los Datos por parte de los Participantes es un requisito necesario para participar en la Promoción. La base de Datos se encuentra registrada en la Dirección Nacional de Protección de Datos Personales. El titular de los Datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legitimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley N° 25.326. Los Participantes podrán requerir que dicha información les sea suministrada, actualizada, rectificada, o removida de la base de datos a su pedido. A tales efectos deberán comunicarse al 0810-999-1530 (Servicio de Atención al Cliente). La &nbsp;Dirección Nacional de Protección de Datos Personales, órgano de control de la Ley 25.326, tiene la atribución de atender las denuncias y reclamos con relación al incumplimiento de las normas sobre protección de datos personales.</p>
                        <br />
                        <p dir="ltr">7) Premio en Juego: en el marco de la presente Promoción se pondrá en juego un conjunto de premios. A saber: </p>
                        <p dir="ltr"> </p>
                        <p dir="ltr" style="padding-left: 20px"> Para el primero de los sorteos, a realizarse el día 16/04 a las 15:00 hrs, se sortearán un total de 20 pares de entradas.</p>
                        <p dir="ltr" style="padding-left: 20px"> Para el segundo de los sorteos, a realizarse el día 22/04 a las 21:00 hrs, se sortearán un total de 20 pares de entradas, 10 remeras exclusivas de la marca Fernet Branca y un botellón de 5 litros, edición limitada, no apto para consumo. Este último premio, el botellón de 5 litros, sólo será para el primero de los beneficiados, a decidir por sorteo frente a escribano público.</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr"> Los premios no incluirán ningún otro pago, prestación, bien o servicio distinto del descripto en las presentes Bases, es intransferible y no podrá exigirse su canje por otros bienes o servicios no descriptos o dinero en efectivo.</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">8) Notificación al ganador: El Participante que haya sido beneficiado por el sorteo como ganador por el Jurado, y por ende resulte favorecido con el Premio (en adelante los &ldquo;Favorecido&rdquo;) será notificado por el Organizador a través del mismo Sitio, dentro de los 2 (dos) días de finalizado el cumplimiento del Plazo. Más allá de ello, el Participante Favorecido con el Premio será contactado directamente por el Organizador y notificado telefónicamente, por correo electrónico de su condición dentro del plazo de los 2 (dos) días hábiles de finalizado el Plazo, para coordinar forma, fecha y hora de entrega del Premio, y luego el Favorecido deberá comunicarse dentro de los 2 (dos) días de esta notificación enviando un e-mail a juan@bassobrovelli.com, para coordinar la fecha y lugar de entrega del respectivo Premio. La entrega de todos los Premios se coordinará vía e-mail o telefónicamente.</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">9) Asignación y Entrega de Premio: La asignación del Premio al Participante Favorecido con los mismos quedará supeditada al cumplimiento de todos los requisitos de participación establecidos en estas Bases. La falta de cumplimiento de alguno de los requisitos aquí establecidos, y en particular la carga de Datos o registros falsos hará perder al Participante Favorecido, en forma automática, el derecho a la asignación del Premio, sin posibilidad de reclamo alguno. Ante la pérdida del derecho de un Participante Favorecido a la asignación del Premio, por cualquier causa que ello fuera, el Organizador se encontrará facultado, pero no obligado, a seleccionar Participantes suplentes, siendo ello en legítimo cumplimiento de las presentes Bases. Como condición para la asignación del Premio, el Participante Favorecido deberá al momento de retirar los mismos: i) entregar fotocopias de la primera y segunda página del DNI y ii) suscribir el pertinente acuse de recibo del Premio recibido. El Participante Favorecido con el Premio deberá presentarse a retirarlo en el Stand (Camión de Fernet Branca) ubicado entre las calles Av. Arturo Illia y Gob. Ortiz y Herrera, de la ciudad de Carlos Paz provincia de Córdoba, el mismo día de la competencia (en adelante la &quot;Dirección&quot;). En los casos en que el Participante Favorecido no cumpliera con los requisitos establecidos en las presentes Bases, el Premio se considerará como no asignado, sin excepción ni derecho a reclamo de ningún tipo. Cumplidos los requisitos establecidos en estas Bases como condición de la asignación del Premio, éste será entregado por el Organizador a quien le hubiera resultado asignado (en adelante el &quot;Ganador&quot;). El Premio será entregado por el Organizador, en los días 23 de Abril de 2015 entre las 11:00hs y 20:00hs y el 24 de Abril del 2015 entre las 11:00hs y 16:00hs de mencionados días, debiendo en todos los casos el Ganador firmar el acuse de recibo pertinente. El Premio no asignado, si los hubiere, quedará en poder del Organizador.</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">10) Responsabilidad: El Organizador no será responsable i) por ningún daño o perjuicio, de cualquier tipo que fuere, que pudieren sufrir los Participantes, Favorecidos, Ganadores o terceros, en sus personas o bienes, con motivo de o con relación a su participación en la Promoción; ni ii) por desperfectos técnicos, errores humanos o acciones deliberadas de terceros que pudieran interrumpir o alterar el normal desarrollo de la Promoción. Los Participantes Favorecidos exoneran de responsabilidad al Organizador por el uso indebido de sus Datos personales por parte de terceros. El Organizador no venderá o cederá los Datos personales sin autorización de los Participantes. El Organizador se reserva el derecho de modificar las presentes Bases sin alterar la esencia de la Promoción, en tal caso, un cambio en las presentes Bases se notificará por los mismos medios en que las presentes se han comunicado. </p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">11) Declaraciones y Garantías: Cada Participante declara y garantiza al Organizador ser el único titular del audio enviado y conocer y aceptar las Bases. La sola participación en la Promoción implica la cesión total absoluta y gratuita de todos los derechos de reproducción, distribución, comunicación pública y transformación sobre el audio a favor del Organizador, quien se encontrará facultado a utilizar y/o difundir el audio ingresado por cualquier medio masivo de comunicación (incluyendo pero sin limitar: todo tipo de televisión: abierta, por cable, satelital, sub TV, etc., prensa, edición papel: catálogos, folletos, panfletos, dibujos, libros, cartas, carpetas y revistas de prensa, carteles, ediciones multimedia y electrónica: intranet, Internet), plazo o territorio a su exclusivo criterio y sin previa notificación o autorización del participante que lo hubiera ingresado.</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">12) Varios: Será eliminado o inhabilitado para participar de la presente Promoción: a) cualquier registro que incluya Datos erróneos, inexactos o fraudulentos. La participación en la Promoción se realizará únicamente través del Sitio. Los Participantes, por su sola participación y registración, aceptan de pleno derecho todas y cada una de las disposiciones de estas Bases y el criterio del Organizador que será inapelable. Todo impuesto, tasa o contribución que deba tributarse, toda suma de dinero que deba pagarse al estado nacional, sociedades del estado, provincias o municipalidades por el hecho del ofrecimiento, asignación o entrega de los Premios o con motivo de la organización o difusión de la Promoción serán a exclusivo cargo de los usuarios participantes, a excepción de los expresamente asumidos por el Organizador en estas Bases.</p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">Todo gasto en que puedan incurrir los Participantes para concurrir a retirar el Premio serán a su exclusivo cargo salvo los expresamente asumidos por el Organizador. El Premio no podrá ser transferido ni cedido a terceros. El Ganador no podrá solicitar la sustitución, canje ni reemplazo del Premio por ningún otro distinto del obtenido o por su reemplazo por dinero en efectivo. Será anulado cualquier intento o método de participación que se realice por cualquier proceso, técnica o mecánica de participación distinta de la detallada precedentemente, mediante la utilización de programas o software que permita ilegítimamente o de manera no habitual u extraordinaria la obtención de resultados. El Participante favorecido autorizará al Organizador como condición para la asignación del Premio, a difundir sus Datos personales, domicilios, imágenes y voces, con fines comerciales, en los medios y formas que el Organizador disponga, sin derecho a compensación alguna, durante el Plazo y hasta 1 (un) año de finalizada la Promoción. El mismo hecho de participar implica para los Participantes la aceptación plena de las presentes Bases y de toda aclaración y/o modificación que el Organizador pudiera hacer. En ese sentido, las decisiones del Organizador sobre todos y cada uno de los aspectos de la Promoción serán definitivas e irrecurribles. </p>
                        <p dir="ltr"> </p>
                        <p dir="ltr">13) Difusión: Las presentes Bases podrán ser íntegramente consultadas y obtenidas en
                            <a href="http://www.brancarally.com/bases-y-condiciones">http://www.brancarally.com/bases-y-condiciones</a> </p>
                        <br />
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}