{% extends 'OdiseoBrancaRallyBundle:Frontend:layout.html.twig' %}
{% if race.getTeamWinner(race) == constant('Odiseo\\Bundle\\BrancaRallyBundle\\Game\\Team::TEAM1')%}
	{% set team = 'unico' %}
{% else %}
	{% set team = 'branca' %}
{% endif %}
{% block content %}
<header>
    <div class="menu-mobile visible-xs visible-sm">
        <div class="col-xs-8 col-sm-8">
            <a class="logo-landing-{{ team }}-rally mobile" href="{{ path('odiseo_branca_rally_frontend_home') }}"><span class="sr-only">Branca Rally 2015</span></a>
        </div>
        <div class="col-xs-4 col-sm-4">
            <a class="btn-menu-mobile pull-right" id="mobileMenuDrop" href="#"><i class="fa fa-bars"><span class="sr-only">Menu</span></i></a>
        </div>
    </div>
    <ul class="menu-list-mobile visible-xs visible-sm">
        <li><a class="btn-menu-responsive" href="{{ path('odiseo_branca_rally_frontend_home') }}">Cómo participar</a></li>
        <li><a class="btn-menu-responsive" href="{{ path('odiseo_branca_rally_frontend_home_races_winners') }}">Carreras y ganadores</a></li>
        <li><a class="btn-menu-responsive" href="{{ path('odiseo_branca_rally_frontend_terms') }}">Bases y condiciones</a></li>
    </ul>
    <div class="bg-equipos-landing-{{ team }}-top">
        <div class="container">
            <div class="row menu hidden-sm hidden-xs">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a class="logo-landing-{{ team }}-rally" href="{{ path('odiseo_branca_rally_frontend_home') }}"><span class="sr-only">Branca Rally 2015</span></a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <nav>
                        <ul class="menu-list pull-right">
                            <li><a class="btn-menu" href="{{ path('odiseo_branca_rally_frontend_home') }}">Cómo participar</a></li>
                            <li><a class="btn-menu" href="{{ path('odiseo_branca_rally_frontend_home_races_winners') }}">Carreras y ganadores</a></li>
                            <li><a class="btn-menu last" href="{{ path('odiseo_branca_rally_frontend_terms') }}">Bases y condiciones</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="text-center text-uppercase text-mobile-subtitle">{{ race.name }}</h3>
                    <h1 class="text-center text-uppercase text-mobile-title">Viví la carrera y enterate
                        qué equipo es el ganador.</h1>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <p class="text-center">Viví, sentí y compartí la pasión por el Rally con Fernet Branca.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-0">
                    <a class="scroll-down" href="#"><span class="sr-only">scroll-down</span></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER-->

<!-- CONTENT-->
<section>
    <div id="carrera" class="carrera offset-top-200 offset-sm-md-top-200 hidden-sm hidden-xs">
        <!-- CONTENIDO DE LA CARRERA -->
        <span class="carrera-overlay hidden-xs hidden-sm"><span class="sr-only">overlay</span></span>
        <div class="carrera-view visible-md visible-lg pista-bg-pasto" id="carreraCotaninerDupla">
            <div class="sr-only">
                <svg class="absolute" width="1024" height="462" version="1.1" id="ganador_recorrido" xmlns="http://www.w3.org/2000/svg" >
                    <g>
                        <path fill="none" stroke="none" stroke-miterlimit="10" d="M387,109.5c7.333-8.444,11.168-9.884,26.835-6.384 c23.414,5.231,48.695,80.215,73.565,66.772c24.871-13.443,59.151-30.248,107.547-8.738 c48.396,21.509,164.008,48.396,186.188,50.413c22.183,2.016,92.088-0.672,103.516,14.114c11.426,14.787,7.394,42.347-43.691,45.708 c-51.084,3.359-69.905,6.05-113.596-14.117c-43.69-20.164-195.6-73.266-237.947-38.313c-42.346,34.952-31.591,55.791-50.411,77.3 c-18.821,21.509-54.446,41.001-78.644,13.442c-24.198-27.559-76.628-82.005-135.779-79.989 c-59.149,2.017-69.232-41.674-28.902-47.051c40.33-5.376,79.64,0.484,102.731,11.422c31.944,15.131,70.836,8.091,92.134-6.725 c23.202-16.141,60.53-96.175,63.889-106.258c3.362-10.083,23.55-39.335,47.076-24.546c23.526,14.787,50.438,53.801,127.716,64.268 c54.201,7.341,130.655,3.019,147.617-2.2c30.745-9.46,53.188,24.458,59.916,34.102c10.087,14.459,28.777,9.164,52.455,21.184 c20.133,10.221,37.886,23.156,50.775,24.883c32.616,4.371,59.518,13.47,58.173,53.128c-1.344,39.657-4.143,81.438-40.015,77.34 c-16.046-1.834-34.257-27.983-48.422-30.601c-13.01-2.402-26.932,10.823-54.137,12.105c-55.365,2.612-69.749,30.526-96.635,28.511 c-26.887-2.018-38.894-24.82-67.796-43.642c-28.903-18.821-77.003-42.369-126.769-42.705c-36.692-0.248-54.81,12.778-71.613,38.622 c-14.495,22.293-31.617,101.262-85.364,102.17c-42.319,0.716-79.747-19.739-110.683-65.471 c-14.316-21.161-43.54-59.472-98.187-41.023c-61.7,20.829-80.16,25.832-109.063,0.291c-28.902-25.542,0.825-80.316,23.679-107.202 c22.853-26.887,34.609-61.89,106.721-67.562c15.471-1.217,40.329,18.821,73.266,30.248c32.936,11.427,79.092-19.346,85.868-26.2 L387,109.5z"></path>
                    </g>
                </svg>

                <svg class="absolute" width="1024" height="462" version="1.1" id="perdedor_recorrido" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path fill="none" stroke="none" stroke-miterlimit="10" d="M422.167,163.491c20.482-28.518,28.295-72.23,30.777-79.681 c3.375-10.123,25.644-41.84,49.263-26.994c23.619,14.846,76.932,66.807,126.869,64.108c49.936-2.699,145.085,3.374,161.283-4.049 c16.194-7.424,29.855,13.126,35.931,23.249c1.398,2.333,12.677,16.479,21.268,22.619c9.92,7.09,30.596,1.463,44.225,9.79 c25.774,15.749,39.664,25.29,48.95,28.357c12.347,4.078,58.065,18.23,64.22,59.723c5.845,39.405-17.039,78.957-47.99,68.09 c-10.896-3.825-33.035-27.657-45.6-31.938c-11.585-3.948-27.702,10.337-42.198,13.166c-13.842,2.7-33.106,0.912-48.513,5.003 c-28.07,7.452-34.341,27.332-61.333,25.309c-26.994-2.025-43.19-20.92-72.208-39.815s-74.853-47.887-115.362-47.549 c-36.839,0.308-61.104,8.439-87.773,55.027c-13.264,23.168-19.243,83.047-77.591,86.997c-42.849,2.901-85.704-31.045-97.176-53.987 c-11.471-22.943-57.495-77.234-118.261-52.928c-60.703,24.281-74.738,25.934-103.756,0.291 c-29.017-25.643-9.447-67.483,13.497-94.475c22.943-26.993,80.131-80.35,117.42-80.98c40.69-0.688,53.068,21.002,86.606,31.013 c22.619,6.752,38.181-7.257,44.983-14.138c0,0,19.57-24.293,43.189-19.57c23.619,4.724,68.832,73.556,93.8,60.06 c24.969-13.496,59.385-30.368,107.973-8.772c48.588,21.594,164.658,48.588,186.926,50.613c22.27,2.024,92.453-0.675,103.924,14.17 c11.472,14.846,7.425,42.515-43.862,45.889c-51.287,3.373-70.183,6.073-114.047-14.172 c-43.863-20.244-196.374-73.557-238.889-38.466c-42.514,35.092-31.717,56.013-50.611,77.606 c-18.896,21.594-54.662,41.164-78.956,13.496c-24.294-27.668-76.931-82.33-136.316-80.307 c-59.384,2.024-69.507-41.839-29.018-47.238c40.49-5.398,84.353-3.375,107.298,8.098c22.943,11.472,62.912,22.456,97.724-0.449 L422.167,163.491z"></path>
                    </g>
                </svg>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- Trackers -->
                        <canvas class="absolute" id="ganador" width="1024" height="462" data-laps="1"></canvas>
                        <canvas class="absolute" id="perdedor" width="1024" height="462" data-laps="1"></canvas>
                        <!-- Trackers -->
                        <!-- AUTOS -->
                        <div data-limit-ganador='{max :200, min: 34}' data-limit-perdedor='{max :2430, min: 2200}' class="pista-puente-container md" id="bridge">
                            <img src="{{asset('bundles/odiseobrancarally/img/carrera/puente-1024.png') }}" alt="puente"/>
                        </div>
                        <div class="auto-tracker-md" id="contenedor_ganador" data-name="{{ team }}">
                            <div id="auto_ganador" class="auto-container">
                                <div class="auto auto-{{ team }}"></div>
                            </div>
                        </div>

                        <div class="absolute auto-tracker-md" id="contenedor_perdedor" data-name="{{  team == 'unico' ? 'branca' : 'unico'  }}">
                            <div id="auto_perdedor" class="auto-container">
                                <div class="auto auto-{{ team == 'unico' ? 'branca' : 'unico'  }}"></div>
                            </div>
                        </div>
                        <!-- AUTOS -->
                        <div class="sr-only">
                            <audio id="ganador_audio" controls preload="auto" loop>
                                <source src="{{ asset('bundles/odiseobrancarally/media/audio_carrera.mp3') }}" type="audio/mp3">
                                <source src="{{ asset('bundles/odiseobrancarally/media/audio_carrera.ogg') }}" type="audio/ogg">
                                Your browser does not support the audio tag.
                            </audio>
                        </div>
                        <div class="pista md pista-1024"><span class="sr-only">pista</span></div>
                    </div>
                </div>
            </div>

            <div id="timerContent" data-counter="4" class="timer-content">
                <span id="timerRace" class="timer-count"><span class="sr-only">TIMER</span></span>
                <audio controls class="sr-only" id="timerAudio">
                    <source src="{{ asset('bundles/odiseobrancarally/media/largada.mp3') }}" type="audio/mpeg">
                    <source src="{{ asset('bundles/odiseobrancarally/media/largada.ogg') }}" type="audio/ogg">
                </audio>
            </div>
        </div>



    </div>
    <div class="carrera-control hidden-xs hidden-sm ">
        <a class="btn-principal landing-play center-block hidden-xs hidden-sm" id="verCarrera" href=""> Comenzar <span class="sprites banderas"><span class="sr-only">icono</span></span></a>
    </div>

    <div class="visible-xs visible-sm">
        <div class="video-race-content">
            <button class="btn-principal video-play-carrera" id="mobilePlayCarrera" type="button"> Comenzar <span class="sprites banderas"><span class="sr-only">icono</span></span></button>
            <span class="carrera-overlay"><span class="sr-only">overlay</span></span>
            <video width="100%" height="auto" id="mobileRace" class="video-race" preload="auto" poster="{{ asset('bundles/odiseobrancarally/img/poster-'~team~'.jpg') }}">
                <source src="{{ asset('bundles/odiseobrancarally/media/'~team~'.mp4') }}" type='video/mp4'>
                <source src="{{ asset('bundles/odiseobrancarally/media/'~team~'.webm') }}" type='video/webm; codecs="vp8, vorbis"'>
                <source src="{{ asset('bundles/odiseobrancarally/media/'~team~'.ogv') }}" type='video/ogg; codecs="theora, vorbis"'>
                Este navegador no soporta ninguno de los formatos ofrecidos
            </video>
        </div>
    </div>
    <div class="carrera-ganadores off hidden-xs hidden-sm" id="ganadoresCarrera">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="btn-principal pull-right btn-principal-xxs light" id="replayCarrera" href=""> Revivir carrera <span class="sprites reload"><span class="sr-only">icono</span></span></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h2 class="text-uppercase text-center">equipo ganador</h2>
                    <img class="center-block" style="margin-top: 40px;" src="{{asset('bundles/odiseobrancarally/img/'~team~'/ganador.png') }}" alt="ganador"/>
                    <!--p class="text-center"><span class="sprites whatsapp-xxs"><span class="sr-only">icon</span></span>{{ team=='unico'?'+54 9 11 2321 8162':'+54 9 11 2321 7974' }}</p-->

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h2 class="text-uppercase text-center">ganadores de las entradas</h2>
                        {% if race.canShowWinners %}
						{{ include('OdiseoBrancaRallyBundle:Frontend:Partials/Ganadores/_ganadoresCarrera'~raceNumber~'.html.twig') }}
						{% endif %}
                </div>
            </div>
        </div>
    </div>
    <!----IE FIX--->
    <input type="hidden" id="srcIEfix" value="{{ asset('bundles/odiseobrancarally/img/carrera/carrera-ie.png') }}" data-text="hacé click para escuchar la carrera" />
    <div class="sr-only" id="reproductorCopy">
        <div class="col-lg-12 col-sm-12">
            <div class="equipo-content">
                <div class="mic-content">
                    <a class="play" href="#" id="mobileAudioSingle"><span class="sprites play-audio"><span class="sr-only">play</span></span></a>
                </div>
                <img src="{{ asset('bundles/odiseobrancarally/img/microfono.png') }}" alt="Mic" class="center-block img-responsive"/>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12" id="fixedIEtexto">
            <h4 class="text-center text-uppercase">hacé click para escuchar
                el sonido de tu motor</h4>
        </div>
    </div>
</section>

<section>
    <div class="bg-equipos-landing-{{ team }}-bottom diag offset-top-160 hidden-xs hidden-sm"><span class="sr-only">diagonal fixed</span></div>

    <div class="bg-equipos-landing-{{ team }}-bottom ">
        <div class="container">
            <div class="row visible-xs carrera-ganadores-mobile">
                <div class="col-xs-12">
                    <h2 class="text-uppercase text-center">equipo ganador</h2>
                    <img class="center-block" src="{{asset('bundles/odiseobrancarally/img/'~team~'/ganador-mobile.png') }}" alt="ganador"/>
                    <p class="text-center color-{{ team }}"><span class="sprites whatsapp-xxs"><span class="sr-only">icon</span></span>{{ team=='unico'?'+54 9 11 2321 8162':'+54 9 11 2321 7974' }}</p>

                </div>
                <div class="col-xs-12">
                    <h2 class="text-uppercase text-center">ganadores de las entradas</h2>
                        {% if race.canShowWinners %}
						{{ include('OdiseoBrancaRallyBundle:Frontend:Partials/Ganadores/_ganadoresCarrera'~raceNumber~'.html.twig') }}
						{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="equipo-content">
                        <h1 class="text-center text-mobile-title">escuchá a tus amigos</h1>
                        <p class="text-center subtitle">Podés buscar a tus amigos y reproducir sus audios.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="logo-landing-content">
                        <div class="logo-landing-branca center-block"><span class="sr-only">Equipo Branca</span></div>
                    </div>
                    <div class="reproductor-branca">
                        <div class="audio2_html5 center-block">
                            {{  include('OdiseoBrancaRallyBundle:Frontend:Partials/_soundsPlayer.html.twig', { 'participations': participationsTeam2, 'playerId': 'reproductorBranca', 'team': 'branca' }) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="logo-landing-content">
                        <div class="logo-landing-unico center-block"><span class="sr-only">Equipo Único</span></div>
                    </div>
                    <div class="reproductor-unico">
                        <div class="audio2_html5 center-block">
                            {{  include('OdiseoBrancaRallyBundle:Frontend:Partials/_soundsPlayer.html.twig', { 'participations': participationsTeam1, 'playerId': 'reproductorUnico', 'team': 'unico' }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div id="ieFixVideo">
        <span class="sr-only">ieFix</span>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<!-- JS CARRERA-->
<script type="text/javascript" src="{{asset('bundles/odiseobrancarally/js/vendor/paper.js') }}"></script>
<script type="text/javascript" src="{{asset('bundles/odiseobrancarally/js/vendor/animframe.js') }}"></script>
<script type="text/javascript" src="{{asset('bundles/odiseobrancarally/js/app/classes/SoundControl.js') }}"></script>
<script type="text/javascript" src="{{asset('bundles/odiseobrancarally/js/app/classes/Timer.js') }}"></script>
<script type="text/javascript" src="{{asset('bundles/odiseobrancarally/js/app/classes/Track.js') }}"></script>
<script type="text/javascript" src="{{asset('bundles/odiseobrancarally/js/app/classes/Car.js') }}"></script>
<script type="text/javascript" src="{{asset('bundles/odiseobrancarally/js/app/classes/AnimatePng.js') }}"></script>
<script type="text/javascript" src="{{asset('bundles/odiseobrancarally/js/app/app.js') }}"></script>
<script type="text/javascript" src="{{asset('bundles/odiseobrancarally/js/app/controller/carrera.js') }}"></script>
<!-- JS CARRERA-->
{% endblock %}